
# Created by https://www.gitignore.io/api/osx

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
npm-debug.log

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/coverage
/examples/*
/js/jquery*
/js/dterm.js
/css/*
/bin/*
CHANGELOG
terminal.jquery.json
/css

/.publish

/release
/node_modules
/tmp
/test_tmp
/spec-e2e/shots/*
/spec-e2e/screenshots/
index.html
