---
language: node_js
node_js:
  - '10.14.1'
dist: trusty
sudo: required
before_script:
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - >
    wget
    https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
  - sudo apt install firefox
  - npm install
  - npm install -g gulp-cli
script:
  - |
    if [ $TRAVIS_EVENT_TYPE == "cron" ];then
    npm test && travis_wait 60 npm run test:all:bs_all
    else
    npm test && travis_wait 60 npm run test:all:bs_essential
    fi
  - npm run lint:all
cache:
  directories:
    - node_modules
env:
  global:
    - CXX=g++-4.8 CC=gcc-4.8
    - CHROME_BIN=/usr/bin/google-chrome
addons:
  - apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - code_climate
before_install:
  - jdk_switcher use oraclejdk8
  - npm run setup
before_deploy:
  - gulp build:release
  - gulp build:gh_pages
  - PACKAGE_VERSION=$(node -p -e "require('./package.json').version")
deploy:
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    name: ${PACKAGE_VERSION}
    file_glob: true
    file: "./dist/cmd-resume*.js"
    on:
      branch: master
      tags: true
  - provider: pages
    skip_cleanup: true
    local_dir: ./tmp
    github_token: $GITHUB_TOKEN
    target_branch: gh-pages
    fqdn: cmd-resume.bbody.io
    repo: bbody/CMD-Resume
    on:
      branch: master
      tags: true
  - provider: npm
    skip_cleanup: true
    email: "bbody.project@gmail.com"
    api_key: $NPMJS_TOKEN
    on:
      branch: master
      tags: true
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
